<div class="code m-5 uxwb-block uxwb-block__title">
    {{ code }}
</div>

<div class="row m-5">

    <div class="col-6 demo-in uxwb-block uxwb-block__title">
        <uxwb-list
                [title]="'Example:'"
                [list]="[{ title: 'Ex1', meta: 'ex1', badge: ['a', 'b'] },{ title: 'Ex2', meta: 'ex2', description: 'ex2 desc', badge: ['c'] }]"
                (event)="do($event)"
        ></uxwb-list>
    </div>
    <div class="col-6 demo-out uxwb-block uxwb-block__title">
        <div>title: {{item?.title}}</div>
        <div>description: {{item?.description}}</div>
        <div>meta: {{item?.meta}}</div>
        <div>badge: {{item?.badge}}</div>
    </div>

</div>
