@import "./../../uxwb/components/style/core";

////////////////////////////////////////////////////////////////////

.code::before {
  content: "Code";
}

.demo-in::before {
  content: "Example IN";
}

.demo-out::before {
  content: "Example OUT";
}
