<div class="row">
    <div class="col-2">
        <div>Plastic Grid</div>
        <code>.row .col</code>
    </div>
    <div class="col-10 div-col">
        <div class="row">
            <div class="col">.col</div>
            <div class="col">.col</div>
        </div>
        <div class="row">
            <div class="col">.col</div>
            <div class="col">.col</div>
            <div class="col">.col</div>
            <div class="col">.col</div>
        </div>
    </div>
</div>

<hr>

<div class="row">
    <div class="col-2">
        <div>Fix Grid</div>
        <code>.row</code>
        <code>.col-1..12</code>
    </div>
    <div class="col-10 div-col">
        <div class="row">
            <div class="col-2">.col-2</div>
            <div class="col-6">.col-6</div>
        </div>
        <div class="row">
            <div class="col-2">.col-2</div>
            <div class="col-3">.col-3</div>
            <div class="col-5">.col-5</div>
            <div class="col-2">.col-2</div>
        </div>
    </div>
</div>

<hr>

<div class="row">
    <div class="col-2">
        <div>Color box</div>
    </div>
    <div class="col-10">
        <div class="r">
            <div class="box-white box c">.box .box-white</div>
            <div class="box-grey box c">.box .box-grey</div>
            <div class="box-red box c">.box .box-red</div>
            <div class="box-yellow box c">.box .box-yellow</div>
            <div class="box-green box c">.box .box-green</div>
            <div class="box-blue box c">.box .box-blue</div>
            <div class="box-black box c">.box .box-black</div>
        </div>
    </div>
</div>


<hr>

<div class="row">
    <div class="col-2">
        <div>Text color</div>
    </div>
    <div class="col-10">
        <div class="row">
            <div class="tc-white col">.tc-white</div>
            <div class="tc-grey col">.tc-grey</div>
            <div class="tc-red col">.tc-red</div>
            <div class="tc-yellow col">.tc-yellow</div>
            <div class="tc-green col">.tc-green</div>
            <div class="tc-blue col">.tc-blue</div>
            <div class="tc-black col">.tc-black</div>
        </div>
    </div>
</div>

<hr>

<div class="row">
    <div class="col-2">
        <div>Headings</div>
    </div>
    <div class="col-10">
        <h1>h1. Heading</h1>
        <h2>h2. Heading</h2>
        <h3>h3. Heading</h3>
        <h4>h4. Heading</h4>
        <h5>h5. Heading</h5>
        <h6>h6. Heading</h6>
    </div>
</div>

<hr>

<div class="row">
    <div class="col-2">
        <div>Blockquotes</div>
    </div>
    <div class="col-10">
        <blockquote class="bq">
            <p>.bq</p>
        </blockquote>
        <blockquote class="bq-white">
            <p>.bq .bq-white</p>
        </blockquote>
        <blockquote class="bq-grey">
            <p>.bq .bq-grey</p>
        </blockquote>
        <blockquote class="bq-red">
            <p>.bq .bq-red</p>
        </blockquote>
        <blockquote class="bq-yellow">
            <p>.bq .bq-yellow</p>
        </blockquote>
        <blockquote class="bq-green">
            <p>.bq .bq-green</p>
        </blockquote>
        <blockquote class="bq-blue">
            <p>.bq .bq-blue</p>
        </blockquote>
    </div>
</div>

<hr>

<div class="row">
    <div class="col-2">
        <div>Text Align</div>
    </div>
    <div class="col-10 div-col">
        <div class="r">
            <div class="c ta-l">.ta-l</div>
            <div class="c ta-c">.ta-c</div>
            <div class="c ta-r">.ta-r</div>
        </div>
    </div>
</div>

<hr>

<div class="row">
    <div class="col-2">
        <div>Table</div>
    </div>
    <div class="col-10 div-col">
        <table>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>City</th>
            </tr>

            <tr>
                <td>1</td>
                <td>Harly</td>
                <td>SPb</td>
            </tr>

            <tr>
                <td>2</td>
                <td>Joy</td>
                <td>SPb</td>
            </tr>
        </table>
    </div>
</div>
